body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  position: fixed;
  width: 100%;
  left: 0px; top: 0px;
  background: #0bbfe8;
}

footer {
  position: fixed;
  width: 100%;
  left: 0px; bottom: 0px;
  background: black;
}

a {
  color: #ffffff;
}

ul.abc li {
  display: inline;
  padding: 10px 10px 10px 10px;
  color: #ffffff;
}

ul {
  list-style-type: none;
  text-align: center;
}
